<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Instantiate only one bean for each object, no matter how many requests are made -->
	<!-- <bean id="helloWorld" class="com.allan.HelloWorld" scope="singleton">

	</bean> -->
	
	<!-- Instantiate one bean for each request for the object -->
	<!-- <bean id="helloWorld" class="com.allan.HelloWorld" scope="prototype">

	</bean>  -->
	
	<!-- Instantiate a bean with init and destroy methods-->
	<!-- <bean id="helloWorld" class="com.allan.HelloWorld" init-method="init" destroy-method="destroy">
		<property name="msg1" value="hello world!!!"/>
		<property name="msg2" value="Whats up?"></property>
	</bean> -->
	
	<!-- Bean post process  -->
	<!-- <bean class="com.allan.InitHelloWorld"></bean> -->
	
	<!-- Bean definition inheritance -->
	<bean id="helloWorld" class="com.allan.HelloWorld">
		<property name="msg1" value="hello world!!!"/>
		<property name="msg2" value="Whats up?"></property>
	</bean>
	
	<bean id="helloBrasil" class="com.allan.HelloBrasil" parent="helloWorld">
		<property name="msg1" value="Hello Brasil"></property>
		<property name="msg3" value="Eae Brasil"></property>
	</bean>

</beans>